<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.persistence.CarInfoMapper">

	<insert id="insertCarInfo">
		INSERT INTO carshare.car_info
		(member_no,relationship_carowner, insurance_card, car_card)
		VALUES(#{memberNo.memberNo},#{relationshipCarowner},#{insuranceCard},#{carCard})
	</insert>

	<select id="selectCarInfoByMemberNo"
		resultType="com.zero.domain.CarInfoVO">
		SELECT member_no, car_name, car_number, insurance_date,
		insurance_boonean, relationship_carowner, car_owner, insurance_card,
		car_card
		FROM carshare.car_info
		WHERE member_no = #{memberNo} AND
		car_name  is null
	</select>

	<update id="updatecarInfo">
		UPDATE carshare.car_info
		SET car_name=#{carName},
		car_number=#{carNumber}, insurance_date=#{insuranceDate},
		insurance_boonean=#{insuranceBoonean},
		car_owner=#{carOwner}
		WHERE
		member_no=#{memberNo.memberNo}
	</update>
	<delete id="deletecarInfo">
		DELETE FROM carshare.car_info
		WHERE member_no=#{memberNo} AND car_name is null
	</delete>
</mapper>