<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.persistence.LicenseInfoMapper">


	<insert id="insertLicenseInfo">
		INSERT INTO carshare.license_info
		(member_no,
		license_photo)
		VALUES(#{memberNo.memberNo},#{licensePhoto});
	</insert>

	<select id="selectLicenseInfoByMemberNo"
		resultType="com.zero.domain.LicenseInfoVO">
		SELECT member_no, license_photo, license_no, license_kind,
		birthday, deadline, certification_no
		FROM carshare.license_info
		WHERE
		member_no = #{memberNo}
	</select>

	<update id="updateLicenseInfo">
		UPDATE carshare.license_info
		SET license_no=#{licenseNo}, license_kind=#{licenseKind}, birthday=#{birthday},
		deadline=#{deadline}, certification_no=#{certificationNo}
		WHERE member_no=#{memberNo.memberNo}
	</update>
</mapper>